/* Genel Grid Düzeni */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    padding: 30px 40px;
}

/* Ana Başlık */
.category-main-title {
    text-align: center;
    color: #b4036d;
    margin-top: 30px;
    font-size: 24px;
    font-weight: 700;
}

/* Kart Yapısı */
.product-card {
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 420px;
    background-color: #fff;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 100%;
    height: 220px;
    object-fit: contain;
}

/* Favori İkonu */
.fav-icon {
    color: #b4036d;
    font-size: 20px;
    cursor: pointer;
}

.product-name {
    font-size: 15px;
    color: #444;
    margin: 15px 0;
    height: 40px;
    overflow: hidden;
}

/* Fiyat */
.price-container {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-bottom: 15px;
}

.product-price {
    font-size: 22px;
    font-weight: 800;
    color: #db5ca8;
}

/* Buton */
.add-to-cart {
    background-color: #db5ca8;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
    transition: 0.3s;
}

.add-to-cart:hover {
    background-color: #b4036d;
}

.no-products-message {
    padding: 40px;
    text-align: center;
    grid-column: 1 / -1;
    color: #888;
    font-size: 18px;
}